@charset "UTF-8";
#helloPanel {
  border: 1px rgb(189, 119, 119) dashed;
}

.plugin-sample__custom-tab {
  background-color: var(--b3-theme-background);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plugin-sample__custom-dock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plugin-sample__time {
  background: var(--b3-card-info-background);
  border-radius: 4px;
  padding: 2px 8px;
}

#menuBarFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#menuBar {
  width: 100%;
  height: 30px;
  flex-direction: row;
  display: flex;
  color: var(--b3-theme-on-background);
}

.menuBarItem {
  width: 100px;
  height: 30px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.menuBarItem::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 5px 5px 0px;
  top: 30px;
  right: 0; /* 添加right属性 */
}

.dropdown-item {
  background: var(--b3-theme-surface);
  width: 100px;
  height: 30px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.dropdown-item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.dropdown-item:hover {
  background: rgba(141, 141, 141, 0.584);
}

.dropdown-item:active {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}